section{
    &:nth-of-type(6){
        .inspira{
            &_development{
                &-title{    
                    text-align: center;
                    margin: 5% 0 10%;
                    @include mq("sm", max){
                        margin: 6% 0 20%;
                    }
                    p{
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        font-weight: 500;
                        letter-spacing: .1rem;
                        br{
                            @include mq("sm", max){
                                display: none;
                            }
                        }
                    }
                }
                &-carousel{
                    .swiper-slide{
                        background-color: #E5E5E5;
                    }
                }
               &-box{
                   display: flex;
                   justify-content: space-between;
                   @include mq("sm", max){
                       flex-wrap: wrap;
                       flex-direction: column-reverse;
                   }
                    &--item{
                        @include mq("sm", max){
                            width: 100%;
                        }
                        .inspira_development-title{
                           text-align: left;
                           margin: 0;
                            p{
                                margin: 0;
                            }
                        }
                        .inspira_development-list{
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            ul{
                                padding: 0;
                                margin: 0;
                                li{
                                    display: flex;
                                    justify-content: space-between;
                                    border-bottom: 1px solid #3B413E;
                                    margin: 6% 0;
                                }
                            }
                        }
                        .inspira_development-btn{
                            a{
                                display: block;
                                text-align: center;
                            }
                        }
                        &:first-of-type{
                            width: 35%;
                            @include mq("lg", max){
                                width: 40%;
                            }
                            @include mq("sm", max){
                                width: 100%;
                            }
                            .inspira_development-title, .inspira_development-text{
                                @include mq("sm", max){
                                    display: none;
                                }
                            }
                        }
                        &:last-of-type{
                            width: 60%;
                            @include mq("lg", max){
                                width: 55%;
                            }
                            @include mq("sm", max){
                                width: 100%;
                            }
                            .inspira_development-title, .inspira_development-text{
                                display: none;
                                @include mq("sm", max){
                                    display: block;
                                   text-align: center;
                                }
                            }
                            .inspira_development-text{
                                @include mq("sm", max){
                                    font-size: .9rem;
                                }
                            }
                        }
                    }
               }
                .swiper-button-prev{
                   left: -7%;
                   bottom: 37%;
                   top: auto;
                   @include mq("xl", max){
                    left: -2%;
                    }
                    @include mq("lg", max){
                        bottom: 50%;
                    }
                    @include mq("sm", max){
                        bottom: 56%;
                    }
                    &::after{
                        @include mq("sm", max){
                            font-size: 2rem;
                        }
                    }
                }
                .swiper-button-next{
                    right: -7%;
                    bottom: 37%;
                    top: auto;
                    @include mq("xl", max){
                        right: -2%;
                    }
                    @include mq("lg", max){
                        bottom: 50%;
                    }
                    @include mq("sm", max){
                        bottom: 56%;
                    }
                    &::after{
                        @include mq("sm", max){
                            font-size: 2rem;
                        }
                    }
                }
                .swiper-plants-pagination{
                    text-align: center;
                    margin-top: 3%;
                    @include mq("sm", max){
                        margin-top: 7%;
                    }
                }
                .swiper-pagination-bullet{
                    background-color: transparent;
                    margin: 0 1%;
                    position: relative;
                    opacity: 1;
                    @include mq("lg", max){
                        margin: 0 1.5%;
                    }
                    @include mq("sm", max){
                        margin: 0 3.5%;
                    }
                    .on{
                        opacity: 0;
                        position: absolute;
                        top: 3px;
                    }
                    &-active .on{
                        opacity: 1;
                    }
                    &-active .off{
                        opacity: 0;
                    }
                }
            }
        }
    }
}