section{
    &:nth-of-type(4){
        .inspira{
            &_content{
                &-title{
                    text-align: center;
                }
                &-iframe{
                    position: relative;
                    iframe{
                        width: 100%;
                        height: 70vh;
                    }
                    &-filter{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.308);
                        &-content{
                            width: 100%;
                        }
                        &-icon, &-text{
                            text-align: center;
                        }
                        &-text{
                            margin-top: 6%;
                            p{
                                color: #fff;
                                letter-spacing: .2rem;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}