.modal-content {
    background-color: #fafafa;

    .modal-header {
        h5 {
            color: #000000;
        }

        button {
            width: fit-content;
        }
    }

    .modal-body {
        .form-container {

            .form-wrapper {
                label {
                    font-size: 12px;
                    font-weight: 700;

                    &.mt {
                        margin-top: 20px;
                    }
                }

                input {
                    font-size: 20px;
                    border: none;
                    border-bottom: 1px solid black;
                    border-radius: unset;
                    background: transparent;
                }

                label,
                input:not(.form-check-input) {
                    display: block;
                    width: 100%;
                }

                .iti {
                    width: 100%;
                }

                .form-check {
                    label {
                        line-height: 1.7rem;
                    }
                }

                button {
                    width: 100%;
                    color: #c4c0a6;
                    padding: 1rem;
                    border-radius: 0.5rem;
                    margin-top: 30px;
                }
                a{
                    color: #3B413E;
                    text-decoration: underline;
                }
                #form-botao-whatsapp {
                    text-align: center;
                    border: none;
                    background: #c4c0a6;
                    margin: 0 auto;
                    border-radius: 5px;
                    padding: 0.75rem;
                    margin: 0 auto;
                    width: 100%;
                    margin: 1rem auto !important;
                }
            }
        }
    }
}
